*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
}

.container{
    width: 1200px;
    background-color: blanchedalmond;
}

ul{
    display: flex;
    gap: 20px;  
    padding: 20px;
}

li{
    list-style: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

li:hover{
    background-color: grey;
    color: #FFF;
}

.post{
    width: 100%;
    height: 100px;
    display: flex;
}

.post-content{
    width: 25%;
    height: 100%;
    background-color: aqua;
}